@use "../../styles//variable" as v;
@use "../../styles//fonts" as f;
@use "../../styles//mixin" as mix;

.image-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mix.scroll-bar;
    
    
  }
  
  .image-slider-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    @include mix.scroll-bar;
    
    
    
    .images{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.9s;
        &.loading{
         transform: scale(1.1);
        }

    }
   

    .image-slider-controls{
        position: absolute;
        height: 100%;
        width: 100%;
        @include mix.scroll-bar;
       
        .numbers{
            gap: 0.3rem;
            color: black;
            display: flex;
            align-items: center;
            background-color: v.$light-color;
            width: max-content;
            padding: 0.2rem 1rem ;
            margin: 1rem 0.5rem;
            
            font-weight: f.$bold-weight;
            opacity: 0.5;
            font-size: f.$base-font-size;
            top: -1rem;
            border-radius: 0.9rem;
            .image-slider-current-index{
                font-size: larger;
                color: v.$theme-color;
            }
        }
     
    }

    .image-slider-arrow{
        top: 50%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;

        .arrow-buttons{
          display: flex;
          justify-content: space-around;
          align-items: center;
            background-color: v.$light-color;
            border: 2px v.$secondary-color-dark solid;
            height: 3rem;
            width: 10%;
            color: v.$secondary-color-dark;
            border: v.$secondary-color-dark 1px solid;
            font-size: larger;
            margin: 0rem 0rem;
            opacity: 0.4;
            transition: 0.5s;
            &.left{
                border-radius: 0rem 0.4rem 0.4rem 0rem;
            }
            &.right{
                border-radius: 0.4rem 0rem 0rem 0.4rem;

            }
            
            &:hover{
              
                opacity: 1;
                background-color: v.$light-color;
                border: none;
                transition: 0.5s;
                color: v.$theme-color;
                border: 2px solid v.$theme-color;
            }
        }
    }
   
  }
  
  

  
  .image-slider-image-container {
    position: relative;
    margin: 0 20px;
    @include mix.scroll-bar
    
  }
  
  .image-slider-image {
    width: 100%;
  }
  .image-slider-controls{
    position: absolute;
    
    align-items: center;
    @include mix.scroll-bar
    
  }
  
  .image-slider-image-number {
    background-color: teal;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    @include mix.scroll-bar
  }
  
  .image-slider-thumbnails {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    margin: 0rem;
    
   
    
    overflow-x: scroll;
    
    
    
  }
  
  .image-slider-thumbnail {
    width: 100px;
    height:4rem;
    border: 4px solid v.$light-color;
    transition: 0.5s;
    border-radius: 0.3rem;
    @include mix.scroll-bar;
    
   
   
  }
  .image-slider-thumbnail.active {
    border: 4px solid v.$theme-color;
    transition: 0.5s;
  }
  
  /* Style for the thumbnail on hover */
  .image-slider-thumbnail:hover {
    border: 4px solid v.$theme-color;
    cursor: pointer;
  }
  
  /* Style for the thumbnail when it has focus */
  .image-slider-thumbnail:focus {
    outline: none;
    border: 4px solid v.$theme-color;
  }