@use "../../styles//variable" as v;
@use "../../styles//fonts" as f;



.blogs-card{
    width: auto;
    display: flex;
    
    height: max-content;
    padding: 1rem 1rem;
    gap: 1rem;
    
    box-shadow: 1px 1px 1px 1px rgba(224, 223, 223, 0.316);
    .blogs-card-img{
        height: 9rem;
        width: 18rem;
        background-color: v.$secondary-color-dark;
    }
    .blogs-card-info{
        padding: 0rem 0.6rem;
        display: flex;
        flex: 3;
        flex-direction: column;
        justify-content: space-between;
        .blogs-card-info-details{
            
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            .blogs-card-heading{
                font-size: 1.3rem;
                font-weight: 600;
                color: v.$theme-color;
            }
            .blogs-card-description{
                font-size: 1rem;
                font-weight: 400;
                color: rgb(148, 148, 148);
            }
        }
        
        .blogs-card-info-links{
            display: flex;
            justify-content: space-between;
            color:v.$theme-color;
            font-weight: 500;
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    .blogs-card{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0rem;
        .blogs-card-img{
            width: 100%;
        }
    }
    .blogs-card-info-links{
        margin: 1rem 0rem;
    }

}